<div class='col-md-3'>
  <h2>User info</h2>
  <table class='table'>
    <tr><img class="attachment user profile_image fallback" src="/assets/no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg" /></tr>
    <tr>
    <th>name</th>
    <th><%= user.name %></th>
    </tr>
    <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
    </tr>
</table>
　
<div class='row'>
<a class="btn btn-outline-secondary btn-block fas fa-user-cog edit_user_23118" href="/users/23118/edit">ユーザー編集する</a>
</div>
  <h2 class="mt-3">New book</h2>
  <form action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="syDn1NM40tspLpQpsE0mLCeWamRAdtW3JY0ZrU1nj3a0LI6FjetAxh8HShrAMnbAqJxpitzXW8apT7khKlPWIA==" />
<div class="form-group">
<label for="book_title">Title</label>
<input class="form-control book_title" type="text" name="book[title]" id="book_title" />
</div>
<div class="form-group">
<label for="book_opinion">Opinion</label>
<textarea class="form-control book_body" name="book[body]" id="book_body">
</textarea>
</div>
<div class="form-group">
<input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book" />
</div>
</form>
</div>
